.cell {
    height: 100%;
    width: 10%;
    border-right: 1px solid grey;
    padding: 5px;
}
.cell:first-child {
    border-left: 1px solid grey;
}
.is-hidden {
    background-color: lightblue;
}
.cell.is-active {
    background-color: brown;
}